{% extends 'base.html' %} {% block content %}
<div class="flex flex-col items-center justify-center m-10">
  {% if messages %} {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %} {% endif %}
  <div
    class="w-full p-6 bg-white border-t-4 border-gray-950 rounded-md shadow-md border-top max-w-lg"
  >
    <h1 class="text-3xl font-semibold text-center text-gray-950">
      Forgot Password
    </h1>
    <form class="" method="post">
      {% csrf_token %}
      <label class="label">
        <span class="text-base label-text font-semibold">Email</span>
      </label>
      <div>{{form.email}}</div>

      <div>
        <button
          type="submit"
          class="btn mt-3 btn-block btn-neutral rounded-md font-semibold font-xl"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
