{% extends 'base.html' %} {% block content %}
<div class="flex flex-col items-center justify-center m-10">
  <div
    class="w-full p-6 bg-white border-t-4 border-gray-950 rounded-md shadow-md border-top max-w-lg"
  >
    <h1 class="text-3xl font-semibold text-center text-gray-950">
      Reset Your Password
    </h1>
    {%if validlink%}
    <form class="" method="post">
      {% csrf_token %}
      <label class="label">
        <span class="text-base label-text font-semibold">New Password</span>
      </label>

      <div>{{form.new_password1}}</div>

      <label class="label">
        <span class="text-base label-text font-semibold"
          >New Password Confirmation</span
        >
      </label>
      <div>{{form.new_password2}}</div>

      <div class="error"></div>
      <div>
        <button
          type="submit"
          class="btn mt-3 btn-block btn-neutral rounded-md font-semibold font-xl"
        >
          Send
        </button>
      </div>
    </form>
    <script>
      function validatePassword() {
        var password1 = document.getElementById("id_new_password1");
        var password2 = document.getElementById("id_new_password2");
        var errorDiv = document.querySelector(".error");
        if (password1.value !== password2.value) {
          errorDiv.textContent = "Passwords Don't Match";
          password2.setCustomValidity("Passwords Don't Match");
        } else {
          errorDiv.textContent = "";
          password2.setCustomValidity(""); // Clear error message if passwords match
        }
      }

      document
        .getElementById("id_new_password1")
        .addEventListener("change", validatePassword);
      document
        .getElementById("id_new_password2")
        .addEventListener("keyup", validatePassword);
    </script>
    {% else %}
    <p>x</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
