{% extends 'base.html' %} {% block content %}
<div class="flex flex-col items-center justify-center m-10">
  {% if messages %} {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %} {% endif %}
  <div
    class="w-full p-6 bg-white border-t-4 border-gray-950 rounded-md shadow-md border-top max-w-lg"
  >
    <h1 class="text-3xl font-semibold text-center text-gray-950">
      Reset Your Password
    </h1>

    <p class="mt-3 text-center">
      We've emailed you instructions for setting your password.
    </p>
    <p class="mt-3 text-center">
      If you don't receice an email. Please make sure you've entered the correct
      email address you registered with
    </p>
  </div>
</div>
{% endblock content %}
