{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center m-10">
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% for message in messages %}
            {% if message.tags == 'error' %}
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '{{ message }}',
                confirmButtonColor: '#d33',
            });
            {% elif message.tags == 'success' %}
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '{{ message }}',
                confirmButtonColor: '#DD6B20',
            });
            {% endif %}
            {% endfor %}
        });
    </script>
    {% endif %}
    <div class="w-full p-6 bg-white border-t-4 border-black rounded-md shadow-md border-top max-w-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-950">
            Register Admin
        </h1>
        <form class="space-y-4" method="post">
            {% csrf_token %}
            <div>
                <label class="label">
                    <span class="text-base label-text font-semibold">Email</span>
                </label>
                <input id="email" name="email" type="email" placeholder="Email Address"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text font-semibold">Name</span>
                </label>
                <input id="name" name="name" type="text" placeholder="Full Name" class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text font-semibold">Password</span>
                </label>
                <input id="password1" name="password1" type="password" placeholder="Enter Password"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text font-semibold">Confirm Password</span>
                </label>
                <input id="password2" name="password2" type="password" placeholder="Confirm Password"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <button type="submit"
                    class="btn btn-block btn-neutral rounded-md font-semibold font-xl">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}