{% extends 'base.html' %}

{% block meta %}
<title>Email List</title>
{% endblock meta %}

{% block content %}
<div class="text-2xl font-semibold m-10">Email List</div>
<table class="table" id="emailTable">
    <thead class="bg-gray-950 text-white">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for email in emails %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td class="text-orange-600">{{ email.nama }} </td>
            <td>{{ email.email }}</td>
            <td>{{ email.group }}</td>
            <td>
                <a href="{% url 'email_data:email_update' email.email %}"
                    class="btn btn-sm bg-orange-500 hover:bg-orange-600 hover:text-orange-100 rounded-lg text-white">Edit</a>
                <button
                    class="btn btn-sm bg-red-600 hover:bg-red-700 hover:text-red-100 rounded-lg text-white delete-link"
                    onclick="showDeleteModal(event, '{{ email.email }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Confirm Deletion</h3>
        <p class="py-4">Are you sure you want to delete <span id="deleteEmail"></span>?</p>
        <div class="modal-action">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <button class="btn bg-red-600 hover:bg-red-700 hover:text-red-100 rounded-lg text-white"
                    id="confirmDeleteButton">Confirm</button>
                <button type="button" class="btn btn-neutral rounded-lg text-white"
                    onclick="my_modal_1.close()">Cancel</button>
            </form>
        </div>
    </div>
</dialog>

<a href="{% url 'email_data:email_create' %}"
    class="btn btn-base bg-orange-500 hover:bg-orange-600 hover:text-orange-100 ml-10 mb-20 text-white rounded-lg p-3">Add
    Data +</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        var table = $('#emailTable').DataTable({
            "lengthChange": false,
            "pageLength": 10,
            "info": false,
            "language": {
                "paginate": {
                    "previous": "Prev",
                    "next": "Next"
                }
            }
        });
    });

    function showDeleteModal(event, email) {
        event.preventDefault();
        $('#deleteEmail').text(email);
        my_modal_1.showModal();
    }

    $('#confirmDeleteButton').on('click', function (event) {
        event.preventDefault();
        var email = $('#deleteEmail').text();
        var url = '/email-data/email/' + encodeURIComponent(email) + '/delete/';
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#deleteForm').serialize(),
            success: function (response) {
                my_modal_1.close();
                Swal.fire({
                    icon: 'success',
                    title: 'Deleted!',
                    text: 'The email has been deleted successfully.',
                    confirmButtonColor: '#DD6B20'
                }).then(() => {
                    location.reload();
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                my_modal_1.close();
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'An error occurred while trying to delete the email. Please try again.',
                    confirmButtonColor: '#d33'
                });
            }
        });
    });
</script>

<style>
    .dt-container {
        margin: 2.5rem;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 5px 10px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #fff;
        color: #333;
    }

    /* Style untuk input pencarian */
    .dt-search {
        margin-bottom: 10px;
        /* Tambahkan margin agar tidak rapat dengan tabel */
        display: flex;
        align-items: center;
        width: 100%;
    }

    .dt-search label {
        margin-right: 10px;
        font-weight: 600;
    }

    .dt-search input[type="search"] {
        width: 20%;
    }

    .dt-search input[type="search"]:focus {
        border-color: #DD6B20;
        /* Warna fokus oranye */
        outline: none;
        box-shadow: 0 0 0 1px #DD6B20;
    }
</style>
{% endblock content %}